<!DOCTYPE html>

<head>
    <title></title>
    <link rel="icon" href="..//static/img/icon.png">
    <style type="text/css">
        body
        {
            font-family: Arial;
            font-size: 10pt;
        }
        table
        {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }
        table th
        {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }
        table th, table td
        {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>

    <div id='cssmenu'>
        <ul>
           <li><a href='#'>Home</a></li>
           <li class='active'><a href='#'>BACKUP</a>
              <ul>
                 <li><a href='full_backup' id="Configuracion">Configuration</a>
                    <!--<ul>
                       <li><a href='#'>Sub Product</a></li>
                       <li><a href='#'>Sub Product</a></li>
                    </ul>-->
                 </li>
                 <li><a href='respaldo_full_programado' id="Estado">Programmed</a>
                  <!--<ul>
                     <li><a href='#'>Sub Product</a></li>
                     <li><a href='#'>Sub Product</a></li>
                  </ul>-->
               </li>
              </ul>
           </li>
           <!--<li><a href='#'>About</a></li>
           <li><a href='#'>Contact</a></li>-->
        </ul>
        </div>
    <br>
    <form action="/fullBackup" method="POST" enctype="multipart/form-data" autocomplete="off">
        <input type="file" name="file" required="true">
        <input type="submit" value="Create Backup">
    </form>
    <br><br><br>
    <div id="div_mensajes">
        <div id="estado" style="width: 400px;">
            <p><h2 style="padding-left:50px">Results:</h2></p>
            <p></p>
    </div>
    
    <div class="message_holder"></div>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="application/javascript" src="../static/js/script.js"></script>
    <script type="application/javascript" src="../static/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
    
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
    
      } )
      socket.on( 'to_js', function( msg ) {
        console.log( msg )
          if (msg.includes("ejecuto")){
            $( 'div.message_holder' ).append( '<div><b class="verde">'+msg+'</b>')
          $( 'div.message_holder' ).append( '<br>')
          }
          else if(msg.includes("fallo")){
            $( 'div.message_holder' ).append( '<div><b class="rojo">'+msg+'</b>')
          $( 'div.message_holder' ).append( '<br>') 
          }
          else {
          $( 'div.message_holder' ).append( '<div><b class="gris">'+msg+'</b>')
          $( 'div.message_holder' ).append( '<br>')
          }
      })
      
    </script>


</body>
</html>





